.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #ff9100;
    color: #000000;
  }
  
  .navbar_logo a{
    display: flex;
    align-items: center;
  }
  
  .navbar_logo img {
    width: 50px;
    margin-right: .8em;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar li,
  .navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
  }
  
  .navbar li:hover {
    background-color: #000000;
    color: #FFF;
  }
  
  .navbar li:hover > a {
    color: #FFF;
  }